[submodule "HEonGPU"]
	path = HEonGPU
	url = https://github.com/cipherflow-fhe/HEonGPU.git
[submodule "fhe_ops_lib/lattigo"]
	path = fhe_ops_lib/lattigo
	url = https://github.com/cipherflow-fhe/lattigo.git
