[submodule "fhe_ops_lib/lattigo"]
	path = fhe_ops_lib/lattigo
	url = https://github.com/cipherflow-fhe/lattigo.git
[submodule "backends/lattisense-gpu-core"]
	path = backends/lattisense-gpu-core
	url = https://github.com/cipherflow-fhe/lattisense-gpu-core.git
